
<div class="container">
    <div class="row">
          <h3 class="fheading">Payment Options</h5>
    </div>
    <div class="row text-center">
         <div class="col-md-4 col-sm-4">
          <a href=""><img src="catalog\view\image\card.png" class="img-fluid"></a>
         </div>
         <div class="col-md-4 col-sm-4">
         <a href=""><img src="catalog\view\image\master-card.png" class="img-fluid"></a>
         </div>
         <div class="col-md-4 col-sm-4">
         <a href=""><img src="catalog\view\image\paypal.png" class="img-fluid"></a>
         </div>
    </div>
</div>
</main>
<footer>
  <div class="container">
    <div class="row">
      
        <div class="col-sm-3">
        <h5><a href="{{ home }}" style="color:#fff;font-weight:900">COASTWAY</a></h5>
        <p class="text-left">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley
        </p>
        </div>
    
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          {% if gdpr %}
            <li><a href="{{ gdpr }}">{{ text_gdpr }}</a></li>
          {% endif %}
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      {% if informations %}
        <div class="col-sm-3">
          <h5>{{ text_information }}</h5>
          <ul class="list-unstyled">
            {% for information in informations %}
              <li><a href="{{ information.href }}">{{ information.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>Follow us</h5>
        <ul class="list-unstyled">
          <li><a href="">facebook</li>
          <li><a href="">Instagram</li>
        </ul>
      </div>
    </div>

    <!-- <p>{{ powered }}</p> -->
  </div>
  <div class="container-fluid mt-5">
  <div class="row">
       <div class="col footbottom">
           <p class="text-center mt-3">© coastway.com.us 2023</p>
       </div>
     </div>
  </div>
</footer>
{{ cookie }}
<script src="{{ bootstrap }}" type="text/javascript"></script>
{% for script in scripts %}
  <script src="{{ script.href }}" type="text/javascript"></script>
{% endfor %}
</body></html>
